nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #9e4c4c;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}